* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: white;
}

.component {
    width: 100%;
}

/* first component */

.pages {
    border-top: transparent 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15.86;
    line-height: 14px; 
    height: 100%;
    margin-right: 46px;
}


div:nth-child(3n) {
    margin-right: 44px;
}

.pagea {

    display: inline-block;
    align-self: flex-end;
}

.pages:hover {
    border-top: #1ABC9C 5px solid;
}

.pagea:hover {
    color: #1ABC9C;
}

.one {
    height: 100px;
    background-color: #222533;
    font-family: 'Lato';
    color: white;
    display: flex;
    justify-content: center;
}

.titlething {
    font-size: 36px;
    margin-left: 14px;
}

.fatletters {
    font-weight: 600;
}

.left-content-1 {
    margin-left: 59px;
    margin-top: 28px;
    margin-right: 85px;
    display: flex;
    flex-direction: row;
}

.middle-content-1 {
    width: 809px;
    height: 56px;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.right-content-1 {
    margin-top: 40px;
    width: 76px;
}

.items-1 {
    margin-right: 17px;
}

/* second component */

.two {
    position: relative;
    width: 100%;
    height: 980px;
    background: #1A1C27;
}


.arrow2 , .arrow2a {
    margin-top: 31px;
    margin-left: 50px;
    padding-top: 2px;
    padding-right: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px white solid;
}

.arrow2a {
    margin-right: 0px !important;
    margin-left: 502px;
}

.arrow2a:hover , .arrow2:hover {
    color: #1A1C27;
    background: #03FBCA;
    border: #03FBCA;
}

.title2 {
    color: white;
    font-size: 90px;
    font-family: 'lato black';
    line-height: 60px;
}

.title2a {
    color: #03FBCA;
}

.text-2 {
    color: white;
    font-family: 'lato';
    font-size: 24px;
    line-height: 60px;
    letter-spacing: 0.05em;
    margin-top: 12px;
    margin-left: 48px;
}

.bottom-pointer {
    color: white;
}

.container-2 {
    width: 100%;
    height: 209px;
    padding-top: 384px;
    display: flex;
    flex-direction: row;
}

.conent-t {
    margin-left: 501px;
}

.bottom-pointer {
    margin-top: 534px;
    margin-left: 945px;
}

/* component three */

.three {
    position: relative;
    width: 100%;
    height: 562px;
}

.contentbox3 {
    display: flex;
    flex-direction: row;
    margin-top: 89px;
    margin-left: 363px;
}

.picturebox3 {
    margin-left: 17px;
}

.title3 {
    padding-top: 4px;
    font-family: 'lato black';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 16px;
}

.paragraph3 {
    margin-bottom: 24px;
    color: #A1B1BC;
    font-family: 'lato';
    font-size: 14px;
    width: 569px;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.paragraph3:last-of-type {
    margin-bottom: 26px; 
}

.button3 {
    font-family: 'lato';
    font-weight: bold;
    font-size: 14px;
    background: none;
    height: 40px;
    width: 211px;
    border: solid #2C3E50 2px;
    border-radius: 5px;
    letter-spacing: 0.1em;
    padding-bottom: 1px;
    padding-left: 1px;
}

/* component four */

.four {
    position: relative;
    width: 100%;
    height: 360px;
}

.contentrow4 {
    display: flex;
    flex-direction: row;
}

.contentcolumn {
    width: 640px;
    height: 360px;
}

.a4 {
    background: #4E459A;
}

.b4 {
    background: #63D8FF;
}

.c4 {
    background: #E36968;
    width: 623px;
}

.contentcolumn:nth-child(3n) , .paragraph4:nth-child(3n) {
    margin-right: 0px !important;
}

.title4 {
    color: white;
    font-family: 'lato black';
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 76px;
    padding-left: 80px;
    letter-spacing: 0.1em;
}

.paragraph4 {
    width: 560px;
    color: white;
    font-family: 'lato';
    font-size: 14px;
    padding-left: 80px;
    margin-top: 11px;
    line-height: 24px;
}

.button4 {
    color: white;
    margin-top: 23px;
    margin-left: 80px;
    padding-bottom: 2px;
    font-family: 'lato black';
    font-weight: bold;
    font-size: 15px;
    background: none;
    border: solid white 2px;
    border-radius: 5px;
    width: 170px;
    height: 50px;
}

/* component five */

.five {
    position: relative;
    width: 100%;
    height: 845px;
}

.contentbox5 {
    display: flex;
    flex-direction: row;
}

.picturebox5 {
    position: absolute;
    top: 1px;
}

.content5 {
    width: 570px;
    padding-top: 90px;
    margin-left: 375px;
}

.title5 {
    font-family: 'lato black';
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1em;
    margin-bottom: 14px;
}

.paragraph5 {
    color: #A1B1BC;
    font-family: 'lato';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 24px;
}

.paragraph5:last-of-type {
    margin-bottom: 33px;
}

.rowlist5 {
    display: flex;
    flex-direction: row;
}

.paragraph5a {
    color: #A1B1BC;
    font-family: 'lato';
    align-self: flex-start;
    font-size: 14px;
    margin-bottom: 23px;
    padding-left: 19px;
    letter-spacing: 0.05em;
}

.button5 {
    color: #2C3E50;
    padding-bottom: 2px;
    font-family: 'lato';
    font-weight: bold;
    font-size: 14px;
    background: none;
    padding-left: 1px;
    border: solid #2C3E50 2px;
    border-radius: 5px;
    width: 181px;
    height: 40px;
    margin-top: 16px;
    letter-spacing: 0.1em;
}

/* Component six */

.six {
    position: relative;
    width: 100%;
    height: 627px;
    background-color: #222533;
}

.title6 {
    color: white;
    font-family: 'lato black';
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1em;
    padding-top: 140px;
    margin-left: 818px;
    margin-bottom: 62px;
}

.contentrow6 {
    display: flex;
    flex-direction: row;
    margin-left: 450px;
}

.contentcolumn6 {
    display: flex;
    flex-direction: column;
    margin-right: 175px;
}

.innerrow6 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.checkbox6 {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;;
    background-color: #FFFFFF;
    border: #707070 5px solid;
    border-radius: 50%;
    padding-right: 3px;
    margin-bottom: 36px;
}

.chck5 {
    color: #2C3E50;
}

.amount6 {
    color: white;
    font-family: 'lato';
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.05em;
    margin-bottom: 7px;
}

.blueline {
    width: 40px;
    height: 3px;
    background-color: #21C2F8;
    margin-bottom: 11px;
}

.subtext {
    color: white;
    font-family: 'lato';
    font-size: 18px;
    letter-spacing: 0.05em;
}

.contentcolumn6:nth-child(2n) {
    margin-right: 149px;
}

.contentcolumn6:nth-child(3n) {
    margin-right: 144px;
}