* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: white;
}

.component {
    width: 100%;
}

/* first component */

.pages {
    border-top: transparent 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15.86;
    line-height: 14px; 
    height: 100%;
    margin-right: 46px;
}

p:nth-child(odd) {
    margin-right: 47px;
}

div:nth-child(3n) {
    margin-right: 44px;
}

.pagea {

    display: inline-block;
    align-self: flex-end;
}

.pages:hover {
    border-top: #1ABC9C 5px solid;
}

.pagea:hover {
    color: #1ABC9C;
}

.one {
    height: 100px;
    background-color: #222533;
    font-family: 'Lato';
    color: white;
    display: flex;
    justify-content: center;
}

.titlething {
    font-size: 36px;
    margin-left: 14px;
}

.fatletters {
    font-weight: 600;
}

.left-content-1 {
    margin-left: 59px;
    margin-top: 28px;
    margin-right: 85px;
    display: flex;
    flex-direction: row;
}

.middle-content-1 {
    width: 809px;
    height: 56px;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.right-content-1 {
    margin-top: 40px;
    width: 76px;
}

.items-1 {
    margin-right: 17px;
}

/* second component */

.two {
    position: relative;
    width: 100%;
    height: 980px;
    background: #1A1C27;
}


.arrow2 , .arrow2a {
    margin-top: 31px;
    margin-left: 50px;
    padding-top: 2px;
    padding-right: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px white solid;
}

.arrow2a {
    margin-right: 0px !important;
    margin-left: 502px;
}

.arrow2a:hover , .arrow2:hover {
    color: #1A1C27;
    background: #03FBCA;
    border: #03FBCA;
}

.title2 {
    color: white;
    font-size: 90px;
    font-family: 'lato black';
    line-height: 60px;
}

.title2a {
    color: #03FBCA;
}

.text-2 {
    color: white;
    font-family: 'lato';
    font-size: 24px;
    line-height: 60px;
    letter-spacing: 0.05em;
    margin-top: 12px;
    margin-left: 48px;
}

.bottom-pointer {
    color: white;
}

.container-2 {
    width: 100%;
    height: 209px;
    padding-top: 384px;
    display: flex;
    flex-direction: row;
}

.conent-t {
    margin-left: 501px;
}

.bottom-pointer {
    margin-top: 534px;
    margin-left: 945px;
}

/* component three */

.three {
    position: relative;
    width: 100%;
    height: 651px;
}

.contentbox3 {
    display: flex;
    flex-direction: row;
    margin-top: 89px;
    margin-left: 363px;
}

.picturebox3 {
    margin-left: 17px;
}

.title3 {
    padding-top: 4px;
    font-family: 'lato black';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 16px;
}

.paragraph3 {
    margin-bottom: 24px;
    color: #A1B1BC;
    font-family: 'lato';
    font-size: 14px;
    width: 569px;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.paragraph3:last-of-type {
    margin-bottom: 26px; 
}

.button3 {
    font-family: 'lato';
    font-weight: bold;
    font-size: 14px;
    background: none;
    height: 40px;
    width: 211px;
    border: solid #2C3E50 2px;
    border-radius: 5px;
    letter-spacing: 0.1em;
    padding-bottom: 1px;
    padding-left: 1px;
}